.CertificateCard {
  width: calc((100% - 96px) / 3);
  min-width: 160px;
  text-align: center;
  div {
    margin: 0 auto;
  }
  &__text {
    color: #111;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 16px;
    text-align: center;
  }
}
